:root {
    --bg: #fbf1c7;
    --fg: #282828;
    --orange: #fe8019;
    --red: #cc241d;
}

@font-face {
    font-family: "Grey_Red";
    src: url("./fonts/Grey+Red.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monster";
    src: url("./fonts/Green_Energy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


.emphasize {
    font-family: "Monster", sans-serif;
    font-size: 2.2rem;
}

.emphasize-sm {
    font-family: "Monster", sans-serif;
    font-size: 1.5rem;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Courier New', Courier, monospace;
    padding: none;
    margin: 0;
    font-family: "Grey_Red";
    letter-spacing: 4px;
}

.section__intro {
    background-image: url('./images/bg_image.png');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 48px;
    /* color: var(--bg) !important; */
    /* padding: 10px; */
}

.intro__container {
    padding: 2rem;
    text-align: left;
    color: var(--orange);
}

.image__monster {
    transform: rotateZ(20deg);
}
.image__water {
    transform: rotateZ(-10deg);
}

.image__newjeans {
    transform: rotateZ(15deg);
}

img:hover  {
    scale: 1.1;
}
a {
    color: var(--orange);
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.date {
    color: var(--red);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

